body {
    min-width: 800px;
    min-height: 600px;
}

#canvas {
    width: 800px;
    height: 600px;
    border: 3px solid black;
    margin: auto;
}

.container {
    text-align: center;
    margin: auto;
}

.app-button {
    cursor: pointer;
}

.app-button:hover {
    color: blue;
}

.pre-font {
    font-family: monospace;
}