body {
    min-width: 800px;
    min-height: 600px;
}

canvas {
    width: 800px;
    height: 600px;
    border: 3px solid black;
    margin: auto;
}

div.container {
    text-align: center;
    margin: auto;
}